body {
    background: linear-gradient(313deg, rgba(7, 227, 241, 1) 0%, rgba(13, 235, 216, 1) 24%, rgba(24, 251, 169, 1) 41%, rgba(24, 251, 169, 1) 100%);
    height: 100%;
}

p {
    color: #3A6D5B;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 340px;
    height: 507px;
    margin: auto;
    margin-top: 258.5px;
    margin-bottom: 258.5px;
    background-color: #191a1a;
    border-radius: 14px;
    box-shadow: 0 2px 4px 2px #191a1a8c;
}

.content {
    height: 347px;
    width: 280px;
    margin: auto;
    padding-top: 80px;
}

.judul p {
    text-align: center;
    color: #0DECD5;
    font-weight: bold;
    font-size: 30px;
}

.inputan {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.box {
    flex-grow: 1;
    border-bottom: 1px solid #0DECD5;
    display: flex;
}

.gambar {
    flex-grow: 1;
    margin: auto;
    padding: 0 10px;
}

.isi {
    flex-grow: 2;
    margin: auto;
}

input {
    width: 100%;
    font-size: 16px;
    border: none;
    background: none;
    color: #ffffff;
    outline: none;
}

.masuk {
    margin-top: 30px;
}

button {
    cursor: pointer;
    border: 2px solid #0DECD5;
    background-color: #0DECD5;
    padding: 10px 27px;
    border-radius: 40px;
    color: #1C2220;
    transition: .3s;
    outline: 0;
    box-shadow: 0 4px 4px 0 #2e4d41;
    font-size: 16px;
}

button:hover {
    background-color: rgba(255, 126, 87, 0);
    color: #0DECD5;
    text-decoration: none;
}

.kanan {
    float: right;
}

.kiri {
    float: left;
}

.masuk p a {
    text-decoration: none;
    color: #3A6D5B;
}

.masuk p a:hover {
    text-decoration: underline;
    color: #0DECD5;
}

@media screen and (max-width: 1366px) {
    .container {
        width: 300px;
        height: 400px;
        margin: 150px auto;
    }
    .content {
        width: 250px;
        height: 347px;
        padding-top: 60px;
    }
    .judul p {
        font-size: 20px;
    }
    input {
        font-size: 16px;
    }
    .masuk {
        margin-top: 30px;
        line-height: 8px;
    }
    button,
    .masuk p a {
        font-size: 12px;
    }
}

@media screen and (max-width: 800px) {
    .container {
        width: 250px;
        height: 350px;
        margin: 100px auto;
    }
    .content {
        width: 200px;
    }
    .inputan {
        height: 80px;
    }
    .gambar {
        padding: 0 10px;
    }
    img {
        width: 15px;
        height: 15px;
    }
    input {
        font-size: 13px;
    }
    .masuk {
        margin-top: 20px;
        line-height: 10px;
    }
    button,
    .masuk p a {
        font-size: 11px;
    }
}

@media screen and (max-width: 400px) {
    body {
        background: #191a1a;
        height: 100%;
    }
    button {
        background: linear-gradient(313deg, rgba(7, 227, 241, 1) 0%, rgba(13, 235, 216, 1) 24%, rgba(24, 251, 169, 1) 41%, rgba(24, 251, 169, 1) 100%);
    }
    .container {
        background-color: #191a1a;
        box-shadow: 0 2px 4px 2px #1c222000;
    }
}